:root {
  /* primitive color */
  --COLORBLUE: #008da9;
  --COLOR_ORANGE: #bd6500;
  --COLOR_BLACK: #19282b;
  --COLOR_GRAY: #d6d7db;
  --COLOR_WHITE: #ffffff;

  /* color */
  --G-color-white: var(--COLOR_WHITE);
  --G-color-main: var(--COLORBLUE);
  --G-color-sub: var(--COLOR_ORANGE);
  --G-color-text: var(--COLOR_BLACK);
  --G-color-error: var(--COLOR_ORANGE);
  --G-color-inactive: var(--COLOR_GRAY);
  --G-color-negative: var(--COLOR_ORANGE);
  --G-color-border: var(--COLOR_GRAY);
  --G-color-background: var(--COLOR_WHITE);

  /* space */
  --G-spacing-1: 8px;
  --G-spacing-2: 16px;
  --G-spacing-3: 24px;
  --G-spacing-4: 32px;
  --G-spacing-5: 40px;
  --G-spacing-6: 48px;
  --G-spacing-7: 56px;
  --G-spacing-8: 64px;

  /* z-index */
  --G-zIndex-base: 0;
  --G-zIndex-front: 1;
  --G-zIndex-back: -1;
}
